<div class="modal-backdrop" (click)="closeModal()"></div>
<div class="modal">
    <button class="close" (click)="closeModal()">✖</button>

    <ng-container *ngIf="mode === modalMode.Create || mode === modalMode.Update">
        <h3>Add Event for {{ selectedDate }}</h3>
        <form [formGroup]="form" (ngSubmit)="onSubmit()">
            <input formControlName="title" placeholder="Event Title" />
            <textarea formControlName="description" placeholder="Description (optional)"></textarea>

            <label>Category:</label>
            <select formControlName="category">
                <option *ngFor="let category of categories" [value]="category.name">
                    {{ category.name | titlecase }}
                </option>
            </select>

            <div class="actions">
                <button *ngIf="mode === modalMode.Create; else updateBtn" type="submit" class="primary"
                    [disabled]="form.invalid">Save</button>
                <ng-template #updateBtn>
                    <button class="primary" [disabled]="form.invalid" (click)="updateEvent()">Update</button>
                </ng-template>
                <button type="button" class="secondary" (click)="closeModal()">Cancel</button>
            </div>
        </form>
    </ng-container>

    <ng-container *ngIf="mode === modalMode.View && selectedEvent">
        <div class="title-wrapper">
            <div class="category-color-strip" [style.backgroundColor]="selectedEvent.color"></div>
            <h3>{{ selectedEvent.title }}</h3>
        </div>
        <p><strong>Date:</strong> {{ selectedEvent.date }}</p>
        <p><strong>Category:</strong> {{ selectedEvent.category }}</p>
        <p *ngIf="selectedEvent.description"><strong>Description:</strong> {{ selectedEvent.description }}</p>

        <div class="actions-view">
            <button class="primary edit-btn" (click)="editEvent(selectedEvent)">Edit</button>
            <button class="danger" (click)="onDelete(selectedEvent.id)">Delete</button>
        </div>
    </ng-container>
</div>