<div class="calendar-header-wrapper">
    <div class="calendar-header">
        <button (click)="navigateToToday()" class="today-btn">Today</button>
        <div class="middle-header">
            <button (click)="prevMonth()" class="arrow">‹</button>
            <div class="month-label">{{ currentDate | date: 'MMMM yyyy' }}</div>
            <button (click)="nextMonth()" class="arrow">›</button>
        </div>
    </div>
    <div class="search-container">
        <div class="calendar-search">
            <input type="text" placeholder="Search events..." (input)="onSearch($event)" />
            <div *ngIf="searchResults.length > 0" class="search-results">
                <h4>Search Results</h4>
                <ul>
                    <li *ngFor="let event of searchResults" (click)="onEventClick(event)">
                        <span [style.color]="event.color">{{ event.title }}</span>
                        ({{ event.category }}) - {{ event.date }}
                    </li>
                </ul>
            </div>
        </div>
    </div>

</div>

<div class="calendar-grid" cdkDropListGroup>
    <div class="day-name" *ngFor="let day of Days">
        {{ day }}
    </div>

    <ng-container *ngFor="let week of weeks">
        <div class="day-cell" *ngFor="let day of week" [class.other-month]="!day.isCurrentMonth"
            [class.today]="day.isToday" [attr.data-date]="getDropListId(day.date)" (click)="onDateClick(day.date)"
            cdkDropList [cdkDropListData]="day.events" (cdkDropListDropped)="onEventDrop($event)">
            <div class="day-number">{{ day.date.getDate() }} </div>

            <!-- show upto 2 events -->
            <div class="event" *ngFor="let event of day.events | slice:0:2" [style.backgroundColor]="event.color"
                (click)="$event.stopPropagation(); onEventClick(event)" cdkDrag [cdkDragData]="event">{{event.title}}
            </div>

            <!-- show "+X more" if more than 2 events -->
            <div class="more-events event" *ngIf="day.events.length > 2"
                (click)="$event.stopPropagation(); onMoreEventsClick(day.date)">+{{day.events.length - 2}}</div>
        </div>
    </ng-container>
</div>

<app-event-modal *ngIf="showModal" [selectedDate]="selectedDate!" [mode]="modalMode" [selectedEvent]="selectedEvent"
    [existingEvents]="modalEvents" (close)="onModalClose()" (save)="onEventSave($event)"
    (delete)="onEventDelete($event)" (update)="onEventUpdate($event)">
</app-event-modal>