$azure-radiance: #00aaff;
$onahau: #d2f4ff;
$albaster: #fafafa;
$silver-chalice: #aaa;
$gallery: #f0f0f0;
$silver: #ccc;
$emperor: #555;
$pink-swan: #c7bcbc;
$alabaster: #f9f9f9;
$gallery: #eee;
$alto: #ddd;
$tall-poppy: #b02a37;
$punch: #dc3545;
$sea-shell: #f1f1f1;
$endeavour: #0056b3;
$mine-shaft: #333;
$dove-grey: #666;
